.md-header {
    background: linear-gradient(45deg, rgb(179, 2, 164) 0%, rgb(8, 162, 225) 100%);
}

.md-nav__title {
    background: linear-gradient(180deg, rgb(179, 2, 164) 20%, rgb(8, 162, 225) 100%);
}

.md-header__button.md-logo img,
.md-nav__button.md-logo img {
    height: 2rem !important;
    background: var(--md-default-bg-color);
    border-radius: 50%;
}

.new-icon {
    color: rgb(0, 255, 0);
    font-size: x-large;
}
